# virtualenv
.venv
venv/
ENV/
env/

### Django ###
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
local_secrets.py
staging_production_secrets.py

### Celery ###
kozmoz_worker.state
kozmoz_worker.state.db

### Media ###
media/

# mkdocs documentation
docs_build/
